#!/bin/bash

# Add any other overrides / configurations
codex() {
    command codex --no-alt-screen --yolo "$@"
}

claude() {
    command ttadk --dangerously-skip-permissions "$@"
}

agent() {
    command agent --yolo "$@"
}